
div.gallery {
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#cns {
	float: right;
    margin: 0 0 10px 10px;
    width: 50%;
    text-align: left;
    font-size: 40px;
    font-family: "Verdana";
}

#pictures {
	float: left;
	margin: 0 0 10px 10px;
	width: 40%;
}

#bigimg {
	margin-left:auto;
    margin-right:auto;
	width: 100%;
	margin: 0 0 10px 90px;
}