@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
    font-family: 'Quicksand', sans-serif;
    font-weight:700;
	background-color: #ffffff;
    font-size: 20px;
	line-height: 1.8;
	color: #f5f6f7
}

p{
	font-size: 16px;
}

.container{
	padding-top: 70px;
	padding-bottom: 70px;
}

.jumbotron{
    background-color:#337ab7;
}


.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      font-size: 12px;
      letter-spacing: 5px;
    
  }
  .navbar-nav  li a:hover {
      color: #3281ff!important;
  }
  
